<div class="content">
    <h1>{{title}}</h1>
    <h2 class="strong center">{{msg}}</h2>
    <div class="inner-content">
        <form action="/contact/sendemail" method="post">
            <div>
                <p><img src="../images/icons/joyful.svg" class="form-icon hvr-push" />
                    <input type="text" name="name" placeholder="Name" />
                </p>
            </div>
            <p><img src="../images/icons/envelope.svg" class="form-icon hvr-push" />
                <input type="text" name="email" placeholder="Email" />
            </p>
            <p><img src="../images/icons/chat.svg" class="form-icon form-icon-message hvr-push" />
                <input type="text" name="subject" placeholder="Subject" />
            </p>
            <p>
                <textarea name="bodytext" placeholder="Say something..."></textarea>
            </p>
            <div class="hvr-buzz-out">
                <input type="submit" value="Send" />
            </div>
    </div>
    </form>
</div>
</div>
