<div class="content">
    <h1>{{title}}</h1>
    <h2 class="strong center contact">{{msg}}</h2>
    <div class="inner-content">
        <form action="/contact/sendemail" method="post">
            <input type="text" class="hvr-grow" name="name" placeholder="Name" />
            <input type="text" class="hvr-grow" name="email" placeholder="Email" />
            <input type="text" class="hvr-grow" name="subject" placeholder="Subject" />
            <textarea name="bodytext" class="hvr-grow" placeholder="Say something..."></textarea>
            <input type="submit" class="hvr-buzz-out" value="Send" />
        </form>
    </div>
</div>
