<div class="project-box">
    <h2>
        <div>
            <img src="/images/icons/right-arrow.svg" class="blog-icon" />
            <span class="animateHover">Autopublisher</span>
        </div>
    </h2>
    <p>I was thinking one day... "You know what'll be cool? If I could write something using my favorite editor and publish it to my blog by just simply saving the file into a dropbox folder." </p>
</div>
