<div class="project-box">
    <h2> Autopublisher </h2>
    <p>I was thinking one day... "You know what'll be cool? If I could write something using my favorite editor and publish it to my blog by just simply saving the file into a dropbox folder." </p>
</div>
