<div class="project-box">
    <a href="/project/{{_id}}">
        <h2>
            <div>
                <img src="/images/icons/right-arrow.svg" class="blog-icon" />
                <span class="animateHover">Dada Engine Generating sentences</span>
            </div>
        </h2>
    </a>
    <p>This simple app utilizes one of the most awesome features of Node.js: child processes. </p>
</div>
