<div class="description">
    <h2 class="spacing-top-bottom"> Hi, I'm Michael. </h2>
    <p class="spacing-top-bottom">
        I have a degree in Physics from the Illinois Institute of Technology and I like creating software, specifically for the web.
    </p>
    <p class="spacing-top-bottom">
        I believe in getting out of one's comfort zone and that personal growth is the key to happiness.
    </p>
    <p class="spacing-top-bottom">
        Currently in love with <a href="https://nodejs.org/en/">node.js</a> &#9825; Experimenting with <a href="https://facebook.github.io/react/">react.js</a>.
    </p>
</div>
