<div class="project-box">
    <h2>
        <div>
            <img src="/images/icons/right-arrow.svg" class="blog-icon" />
            <span class="animateHover">Houses On Trees</span>
        </div>
    </h2>
    <p>A prototype ecommerce website for selling treehouse plans. Made for someone special in mind. </p>
</div>
