<div class="nav-sidebar center">
    <ul>
        <li>
            <a href="/" class="hvr-underline-from-left"> Home.............. 
        		<img src="../images/icons/cabin.svg" class="sidebar-icon hvr-grow">
        	</a>
        </li>
        <li>
            <a href="/about" class="hvr-underline-from-left">About............. 
        		<img src="../images/icons/marshmallow.svg" class="sidebar-icon hvr-grow"> 
        	</a>
        </li>
        <li>
            <a href="/projects" class="hvr-underline-from-left">Projects.......... 
            	<img src="../images/icons/map.svg" class="sidebar-icon hvr-grow">
            </a>
        </li>
        <li>
            <a href="/blog" class="hvr-underline-from-left"> Blog.............. 
        		<img src="../images/icons/log.svg" class="sidebar-icon hvr-grow">
        	</a>
        </li>
        <li>
            <a href="/contact" class="hvr-underline-from-left"> Contact........... 
        		<img src="../images/icons/binoculars.svg" class="sidebar-icon hvr-grow"> 
        	</a>
        </li>
    </ul>
</div>
