<div class="nav-footer center">
    <p>Icons designed by:</p>
    <p><a href="http://entypo.com/">Entypo+</a></p>
    <p><a href='http://www.flaticon.com/authors/madebyoliver'>Madebyoliver @ Flaticon</a></p>
</div>
