<div class="license">
    <p>Designed By Michael Lee | Made with <a href="http://expressjs.com/">Express</a></p>
    <p>&copy 2016 | <a href="http://creativecommons.org/licenses/by/4.0/legalcode" class="light-blue-2">Some Rights Reserved Under CC License</a>
    </p>
</div>
