<div class="nav-social center">
    <a href="https://twitter.com/@vlmlee"><img src="../images/icons/twitter.svg" class="social-icon hvr-grow"></a>
    <a href="https://github.com/vlmlee"><img src="../images/icons/icon_github.svg" class="social-icon hvr-grow"></a>
    <a href="mailto:mlee@vellichorlabs.com"><img src="../images/icons/message.svg" class="social-icon hvr-grow"></a>
</div>
