<div class="project-box">
    <h2>
        <div>
            <img src="/images/icons/right-arrow.svg" class="blog-icon" />
            <span class="animateHover">SoftColors.io</span>
        </div>
    </h2>
    <p> Need soft colors? </p>
</div>
