<div class="project-box">
    <h2>
        <div>
            <img src="/images/icons/right-arrow.svg" class="blog-icon" />
            <span class="animateHover">Sorting Command Line Tool</span>
        </div>
    </h2>
    <p> Going to expand it for auto-organizing files in projects </p>
</div>
