<div class="project-box">
    <h2>
        <div>
            <img src="/images/icons/right-arrow.svg" class="blog-icon" />
            <span class="animateHover">Voter fraud</span>
        </div>
    </h2>
    <p>This was mostly to learn how to use d3.js. Turns out my computational science classes were helpful as it's not so different from the other libraries I've used in the past.</p>
</div>
