<div class="project-box">
    <h2>
        <div>
            <img src="/images/icons/right-arrow.svg" class="blog-icon" />
            <span class="animateHover">What Angle Is It?</span>
        </div>
    </h2>
    <p> Inspired by "What Color Is It?" </p>
</div>
