<div class="content">
    <div class="inner-content">
        <h1>{{error.status}} {{message}} </h1>
        <p class="center"> Content not found. </p>
        <p>{{error.stack}}</p>
    </div>
</div>
