<div class="index">
    <div class="index-copy">
        <h2>To solve a complex problem, you must be able to break it into smaller parts, solve them individually, and then be able to put it all back together.</h2>
    </div>
</div>
