<div class="content">
    <h1>{{ title }}</h1>
    <div class="inner-content resume">
        <div class="resume-section">
            <div class="resume-name">Michael Lee</div>
            <div class="resume-title">Web developer currently residing in Alaska.
            </div>
            <a target="_blank" href="/Michael_Lee_Resume.pdf" class="resume-download">Download PDF</a>
        </div>
        <div class="resume-section">
            <h2 class="border-bottom"> Summary </h2>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <div class="resume-inner-section">
                <p class="resume-summary">I'm a highly self-motivated web developer interested in data intensive real time applications across multiple platforms (desktop, IOS, Android, and web browsers). I enjoy working with great people and using technology to make cool stuff.</p>
            </div>
        </div>
        <div class="resume-section">
            <h2 class="border-bottom"> Education </h2>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <div class="resume-inner-section">
                <span class="resume-date">Graduated Spring 2015</span>
                <h3>ILLINOIS INSTITUTE OF TECHNOLOGY</h3>
                <p>Bachelors of Science in Physics
                    <br>Heald Scholarship &nbsp; ยง &nbsp; University Scholarship &nbsp; ยง &nbsp; Dean's List (3 semesters)</p>
            </div>
        </div>
        <div class="resume-section">
            <h2 class="border-bottom"> Skills + Technologies </h2>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <h3>LANGUAGES</h3>
            <p>Fluent in Javascript, Python, Ruby, HTML, and CSS+SCSS. Good understanding of object oriented design and principles, AJAX, and database management.</p>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <h3>FRAMEWORKS</h3>
            <p>Built real time and single page applications in Express and Meteor. Some of my other projects are built with Ruby on Rails and Django. Still developing my ability to build robust REST APIs with frameworks built on top of NodeJS.</p>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <h3>LIBRARIES + APIS</h3>
            <p>Some of the APIs that I am proficient with: Bootstrap, Gulp, Handlebars, JQuery.
                <br> Libraries I'm in the process of integrating into my workflow: Bourbon, Browserify, Modernizer, Mocha, Neat, PhantomJS, UnderscoreJS.</p>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <h3>BACKEND</h3>
            <p>Capistrano, Git, MongoDB, Mongoose, Nginx, PostgreSQL, Redis, Upstart, Unicorn, Vagrant</p>
        </div>
        <div class="resume-section">
            <h2 class="border-bottom"> Experience + Extracurricular </h2>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <span class="resume-date">Nov 2015 - May 2016</span>
            <h3>GENERAL COMMUNICATIONS INC.</h3>
            <p>Technician</p>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <span class="resume-date">May 2012 - Aug 2012</span>
            <h3>CHICAGO PUBLIC SCHOOLS</h3>
            <p>Program Instructor
                <br> One of four instructors from the Illinois Institute of Technology that designed and facilitated mathematics and science activities for a summer enrichment program for low income Chicago Public School students.</p>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <span class="resume-date">May 2011 - Aug 2011</span>
            <h3>AMERICORPS VISTA</h3>
            <p>Summer Associate Team Leader
                <br> Worked with the Older Persons Action Group (OPAG), a senior advocacy non-profit organization, to raise funds to support their CNA training program. Networked with organizations and small businesses and raised over $2,000 through a hosted event. </p>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <span class="resume-date">Nov 2008 - Mar 2009</span>
            <h3>ALASKA ENVIRONMENTAL HEALTH LABORATORY</h3>
            <p>Intern
                <br> Chosen as part of the gifted mentorship program in the Anchorage School District. Worked in a professional laboratory setting and learned standard testing and data collection methodology.</p>
        </div>
        <div class="resume-section">
            <h2 class="border-bottom"> Notable Awards + Achievements </h2>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <h3>STARTUPIIT HACKATHON (May 2015)</h3>
            <p>2nd Place; Team meHungry
                <br> Worked with a pre-revenue startup "meHungry" that sought to deliver food made by private chefs.</p>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <h3>TECHNEXUS-MONKEYBARS OPENBUILD HACKATHON (Feb 2015)</h3>
            <p>1st Place, Most Impactful Award; Team Change
                <br> Developed a prototype application that would allow people to donate to a person or cause through their spare change.</p>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <h3> ILLINOIS INSTITUTE OF TECHNOLOGY UNDERGRADUATE MATHEMATICS COMPETITION (2012)</h3>
            <p>1st Place</p>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <h3>COMAP MATHEMATICAL CONTEST IN MODELING (2012)</h3>
            <p>Successful Participant; Paper: <em>Camping Along Big Long River</em></p>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <h3>COMAP MATHEMATICAL CONTEST IN MODELING (2011)</h3>
            <p>Honorable Mention; Paper: <em>Optimization of Half-Pipe Course Design For Maximizing Vertical Air And Twist Through Conservation Of Energy And Path Selection</em></p>
            <img src="/images/icons/forward.svg" class="resume-icon" />
            <h3> INTEL INTERNATIONAL SCIENCE AND ENGINEERING FAIR (ISEF) (2009)</h3>
            <p>Held at Reno, Nevada; Alaska State Finalist; Project: <em>A Heuristic Study In Fluid Particle Physics</em></p>
            <p style="text-align: right"> Updated: &nbsp; June 2016 </p>
        </div>
    </div>
