<div class="content">
    <h1> {{title}} </h1>
    <div class="inner-content">
        <h2 class="project-title border-bottom">Web Applications</h2>
        <div class="project-box">
            <a href="/project/{{_id}}">
                <h2>
                    <div>
                    <img src="/images/icons/right-arrow.svg" class="blog-icon" />
                    <span class="animateHover">Real Time Budgeting App</span>
                    </div>
                </h2>
            </a>
            <p> It's not a "time" budgeting app but it's real time! </p>
        </div>
        {{> dada}}
        <h2 class="project-title border-bottom">Tools</h2>
        <!-- Weather app? -->
        {{> sorter}} {{> autopublisher}}
        <h2 class="project-title border-bottom"> Miscellaneous</h2> {{> whatAngle}} {{> softcolors}} {{> housesontrees}} {{> voterfraud}}
    </div>
</div>
